<ion-header no-border-bottom no-border-top no-border >
  <ion-toolbar class="background">

    <ion-buttons slot="start">
      <ion-menu-button menu="menu"></ion-menu-button>
    </ion-buttons>

    <ion-title>Radio Altares </ion-title>

    <ion-buttons slot="end">
      <a href="https://www.radioaltares.com"><ion-icon name="globe"></ion-icon></a>
      <a href="https://www.facebook.com/radioaltares"><ion-icon name="logo-facebook"></ion-icon></a>
      <a href="'https://www.instagram.com/radioaltares/?hl=es-la"><ion-icon name="logo-instagram"></ion-icon></a>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content  class="background">
  <div class="contenedor">
    <div class="controles">
      <!--
      <div class="circulo">
        <i class="control"><ion-icon name="play-outline"></ion-icon></i>
      </div>
      -->
      <audio autoplay controls  id='play' preload='auto' tabindex='0' type='audio/mpeg'controls>
        <source  src='https://radios.sonidoshd.com/8018/stream' type='audio/mp3'/>
        Hola, tu navegador no está actualizado y no puede mostrar este contenido.
        </audio>
    </div>
  </div>





</ion-content>
