<ion-header class="no-border" >
  <ion-toolbar class="background">

    <ion-buttons slot="start">
      <ion-menu-button menu="menu"></ion-menu-button>
    </ion-buttons>

    <ion-title>Radio Altares </ion-title>

    <ion-buttons slot="end">
      <a href="https://www.radioaltares.com"><ion-icon name="globe"></ion-icon></a>
      <a href="https://www.facebook.com/radioaltares"><ion-icon name="logo-facebook"></ion-icon></a>
      <a href="'https://www.instagram.com/radioaltares/?hl=es-la"><ion-icon name="logo-instagram"></ion-icon></a>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content  class="background">
    <div class="circulo">
      <div class="center">
        <div class="circulo">
          <div id="play">
            <div class="border">
            </div>
            <img src="../../assets/img/play.png" class="play">
          </div>
          <div id="play2">
            <div class="border-2"></div>
          </div>
        </div>


        <div class="loader-container">
          <div class="rectangle-1"></div>
          <div class="rectangle-2"></div>
          <div class="rectangle-3"></div>
          <div class="rectangle-4"></div>
          <div class="rectangle-5"></div>
          <div class="rectangle-6"></div>
          <div class="rectangle-5"></div>
          <div class="rectangle-4"></div>
          <div class="rectangle-3"></div>
          <div class="rectangle-2"></div>
          <div class="rectangle-1"></div>
        </div>
      </div>

      <div class="content-volumen">
        <ion-item lines="none" class="volumen">
          <ion-range  style="  border-style: none !important;" value="50" color="danger" class="icons"  >
            <ion-icon slot="start" name="volume-off-outline"></ion-icon>
            <ion-icon slot="end" name="volume-high-outline"></ion-icon>
          </ion-range>
        </ion-item>
      </div>


      <div class="content-redes">
        <div class="redes">
          <img class="img-pause" src="../../assets/img/pausa.png" alt="">
        </div>
      </div>


    </div>








</ion-content>
