<ion-app>
  <ion-split-pane contentId="main-content" >

    <ion-menu contentId="main-content" menuId="menu" type="overlay" >
      <ion-content>
        <div class="menu-header-bg">  </div>
          <div class="header-content">
            <img src="../assets/img/logo.png" alt="">
            <label>
              <h2>Radio Altares</h2>
              <p>Tu mejor compañia</p>
            </label>
          </div>

          <ion-list *ngFor="let item of appPages">
            <a href="{{item.url}}">
              <ion-item  >
                <ion-avatar slot="start">
                  <ion-icon class="cuadrado" [name]="item.icon"></ion-icon>
                </ion-avatar>
                  <ion-label class="ion-text-wrap">
                    <h2>{{item.title}} <strong> {{item.strong}} </strong></h2>
                    <p >{{item.descripcion}}</p>
                  </ion-label>
              </ion-item>
            </a>
          </ion-list>
          <ion-footer class="ion-no-border">
            <ion-toolbar>
              <ion-title>www.radioaltares.com</ion-title>
            </ion-toolbar>
          </ion-footer>
      </ion-content>


    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
